@model AppointmentScheduling.Models.ViewModels.UserProfileVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add the FontAwesome stylesheet link here -->
    <!-- Other meta tags, title, and stylesheets -->
</head>
<body>
    @*<partial name="_ProfileContent" model="@Model" />*@  @*You can alternatively use the 'PartialName'*@
    
        @await Html.PartialAsync("_ProfileContent", Model)
   
</body>
</html>     