@inject Microsoft.AspNetCore.Identity.SignInManager<AppointmentScheduling.Models.ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    <form method="post" id="logoutForm" asp-action="Logoff" asp-controller="Account">


        

            <div class="user-container">

                

                <div class="user-action">

                    <a href="javascript:document.getElementById('logoutForm').submit()">



                        <span class="log-off-text">

                            Log off

                        </span>


                        <i class="fa-thin fa-solar-panel custom-size-icon center-icon solar-panel"></i>


                    </a>


                </div>

            </div>

                <div id="goodbyeMessage" style="display: none;">Goodbye</div>

            <div class="user-info">

                Hello, @User.Identity.Name!

            </div>
        

    </form>
}
else
{
    <div class="user-container">

        <div class="user-action">
            <a id="registerLink" asp-controller="Account" asp-action="Register">
                <i class="fa-thin fa-atom-simple fa-spin fa-2xs" style="margin-right: 5px;"></i>
                Register
            </a>
        </div>

        <div class="user-action">
            <div class="sign-in-text">
                Sign In
            </div>
            <a id="loginLink" asp-controller="Account" asp-action="Login">
                <i class="fa-light fa-rocket-launch fa-shake" style="margin-right: 225px;"></i>
            </a>
        </div>


    </div>
}

