@*<!DOCTYPE html>
<html>
<head>
    <!-- Your CSS and other meta tags -->
    <link rel="stylesheet" type="text/css" href="~/css/square-box.css">
    <script src="/js/square-box.js"></script>

</head>
<body>
    <!-- Other content of your index page -->
    <!-- The square box that should appear when the user is signed in -->
    <div id="square-box" >
        <!-- Box content goes here -->
    </div>

    <!-- Include your JavaScript at the end of the body -->
    <script src="your-script.js"></script>
</body>
</html>
*@