 /*set the background color of the profile page to black */
body {
    background-color: black;
}


.card.mb-4 {
    background-color: black;
}

     change background color of cards 
.card.mb-4.mb-lg-0 {
    background-color: black;  /*change this to the desired background color */
}

.card.mb-4,
.list-group-item.d-flex.justify-content-between.align-items-center.p-3 {
    background-color: black;
}

 set the text color to white for user details 
.card.mb-4,
.list-group-item.d-flex.justify-content-between.align-items-center.p-3,
.list-group-item a.neon-icon::placeholder {
    color: white;
}


                               /*  apply the spinning animation to the globe icon */

spinning icon and the animation

.spinning-icon {
    animation: spin 15s linear infinite; /* adjust the duration and timing function as needed */
}



 apply the hover effect to social media icons 
.social-icons-container a {
    text-decoration: none;
    transition: transform 0.3s, filter 0.3s;
    color: #333;  /*default color for icons */
}

    .social-icons-container a:hover {
        transform: scale(1.2);  /*increase the size on hover */
        filter: grayscale(70%) brightness(130%);  /*make the icon grayscale and brighter */
        color: #0077b5; /* change color on hover */
    }

    .social-icons-container a:not(:hover) {
        opacity: 0.7;  /*reduce opacity for non-hovered icons */
    }



/* define a spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
 



