/* Style for the '+' button */
/*.add-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #007bff;*/ /* Adjust the background color as needed */
    /*color: #fff;*/ /* Adjust the text color as needed */
    /*border: none;
    border-radius: 50%;
    width: 30px;*/ /* Adjust the width as needed */
    /*height: 30px;*/ /* Adjust the height as needed */
    /*font-size: 20px;*/ /* Adjust the font size as needed */
    /*cursor: pointer;
}*/
