<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/chat.css">


    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Font-awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!-- animate -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css" />
    <!-- Swiper 輪播 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">

    <!-- Include the SignalR JavaScript library -->
    <script src="~/js/chat.js"></script>

    <!-- ... Other script references ... -->

    <title>title</title>
</head>

<body>


    <div class="wrap">

        <div class="information">


            <div class="search">
                <i class="fa-duotone fa-telescope fa-2xl"></i>
                <input class="search-content" type="text" placeholder="Search">
            </div>


            <div class="inbox-container">

                <h3 class="inbox">Inbox</h3>

                <ul class="avatar-group">


                    <li class="avatar">


                        <div class="avatar-pic">

                            <img src="/profilepictures/default-profile-picture.jpg" alt="">

                        </div>


                        <div class="avatar-content">


                            <div class="avatar-info">


                                <div class="main-info">


                                    <p class="fistname">

                                        USER 5

                                    </p>

                                    <p class="project">

                                        Subject:
                                        <span>Nature walk</span>

                                    </p>


                                </div>


                                <div class="sub-info">

                                    <p>August 18</p>
                                    <p>8:39 pm</p>

                                </div>


                            </div>


                            <p class="description">

                                Lorem ipsum dolor sit amet consectetur adipisicing elit.

                            </p>


                        </div>


                        <a href="#" class="more">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>


                    </li>


                    <li class="avatar">


                        <div class="avatar-pic">

                            <img src="/profilepictures/default-profile-picture.jpg" alt="">

                        </div>


                        <div class="avatar-content">


                            <div class="avatar-info">


                                <div class="main-info">


                                    <p class="fistname">
                                        USER 699 234 543
                                    </p>


                                    <p class="project">

                                        Subject:
                                        <span>Nature walk</span>

                                    </p>

                                </div>


                                <div class="sub-info">

                                    <p>August 10</p>
                                    <p>10:14 am</p>

                                </div>


                            </div>


                            <p class="description">
                                Lorem ipsum dolor sit amet.
                            </p>


                        </div>


                        <a href="#" class="more">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>


                    </li>


                    <li class="avatar">


                        <div class="avatar-pic">

                            <img src="/profilepictures/default-profile-picture.jpg" alt="">

                        </div>


                        <div class="avatar-content">


                            <div class="avatar-info">


                                <div class="main-info">


                                    <p class="fistname">

                                        USER 42 332

                                    </p>


                                    <p class="project">

                                        Subject:
                                        <span>Music</span>


                                    </p>


                                </div>


                                <div class="sub-info">

                                    <p>July 22</p>
                                    <p>5:37 am</p>

                                </div>


                            </div>


                            <p class="description">

                                Lorem ipsum dolor sit amet consectetur.

                            </p>


                        </div>


                        <a href="#" class="more">

                            <i class="fas fa-ellipsis-v"></i>

                        </a>


                    </li>


                    <li class="avatar">


                        <div class="avatar-pic">

                            <img src="/profilepictures/default-profile-picture.jpg" alt="">


                        </div>


                        <div class="avatar-content">


                            <div class="avatar-info">


                                <div class="main-info">


                                    <p class="fistname">

                                        User 18

                                    </p>

                                    <p class="project">

                                        Subject:

                                        <span>Video games</span>

                                    </p>


                                </div>


                                <div class="sub-info">

                                    <p>July 7</p>
                                    <p>6:31 pm</p>

                                </div>


                            </div>


                            <p class="description">

                                Lorem ipsum dolor sit amet consectetur adipisicing.

                            </p>


                        </div>


                        <a href="#" class="more">

                            <i class="fas fa-ellipsis-v"></i>

                        </a>


                    </li>

                    <li class="avatar">


                        <div class="avatar-pic">

                            <img src="/profilepictures/default-profile-picture.jpg" alt="">


                        </div>


                        <div class="avatar-content">


                            <div class="avatar-info">


                                <div class="main-info">


                                    <p class="fistname">

                                        User 11

                                    </p>

                                    <p class="project">

                                        Subject:

                                        <span>Video games</span>

                                    </p>


                                </div>


                                <div class="sub-info">

                                    <p>July 7</p>
                                    <p>6:31 pm</p>

                                </div>


                            </div>


                            <p class="description">

                                Lorem ipsum dolor sit amet consectetur adipisicing.

                            </p>


                        </div>


                        <a href="#" class="more">

                            <i class="fas fa-ellipsis-v"></i>

                        </a>


                    </li>

                    <li class="avatar">


                        <div class="avatar-pic">

                            <img src="/profilepictures/default-profile-picture.jpg" alt="">


                        </div>


                        <div class="avatar-content">


                            <div class="avatar-info">


                                <div class="main-info">


                                    <p class="fistname">

                                        User 300

                                    </p>

                                    <p class="project">

                                        Subject:

                                        <span>Video games</span>

                                    </p>


                                </div>


                                <div class="sub-info">

                                    <p>July 7</p>
                                    <p>6:31 pm</p>

                                </div>


                            </div>


                            <p class="description">

                                Lorem ipsum dolor sit amet consectetur adipisicing.

                            </p>


                        </div>


                        <a href="#" class="more">

                            <i class="fas fa-ellipsis-v"></i>

                        </a>


                    </li>

                </ul>


            </div>


        </div>

        <div class="message">

            <div class="tool-message">


                <div class="horizontal-scroll">

                    <ul class="tool-list">


                        <li class="tool-img">
                            <img src="https://source.unsplash.com/AygJgCM_vto/180x248" alt="">
                        </li>

                        <li class="tool-img">
                            <img src="https://source.unsplash.com/invk-J8_ldQ/180x270" alt="">
                        </li>

                        <li class="tool-img">
                            <img src="https://source.unsplash.com/AygJgCM_vto/180x248" alt="">
                        </li>

                        <li class="tool-img">
                            <img src="https://source.unsplash.com/invk-J8_ldQ/180x270" alt="">
                        </li>

                        <li class="tool-img">
                            <img src="https://source.unsplash.com/AygJgCM_vto/180x248" alt="">
                        </li>

                        <li class="tool-img">
                            <img src="https://source.unsplash.com/invk-J8_ldQ/180x270" alt="">
                        </li>


                        <li class="tool-img">
                            <img src="https://source.unsplash.com/invk-J8_ldQ/180x270" alt="">
                        </li>

                        <li class="tool-img">
                            <img src="https://source.unsplash.com/AygJgCM_vto/180x248" alt="">
                        </li>

                        <li class="tool-img">
                            <img src="https://source.unsplash.com/invk-J8_ldQ/180x270" alt="">
                        </li>

                        <li class="tool-img">
                            <img src="https://source.unsplash.com/AygJgCM_vto/180x248" alt="">
                        </li>

                        <li class="tool-img">
                            <img src="https://source.unsplash.com/invk-J8_ldQ/180x270" alt="">
                        </li>

                        <li class="tool-img">
                            <img src="https://source.unsplash.com/AygJgCM_vto/180x248" alt="">
                        </li>

                        <li class="tool-img">
                            <img src="https://source.unsplash.com/invk-J8_ldQ/180x270" alt="">
                        </li>

                        <li class="tool-img">
                            <img src="https://source.unsplash.com/AygJgCM_vto/180x248" alt="">
                        </li>

                        <li class="tool-img">
                            <img src="https://source.unsplash.com/invk-J8_ldQ/180x270" alt="">
                        </li>

                    </ul>

                </div>
                <div class="download-group">


                    <p class="attach">8 files attached</p>

                    <a href="#" class="download">

                        <i class="fas fa-download"></i>
                        Download All

                    </a>

                </div>

            </div>

            <div class="message-title">


                <div class="message-avatar">


                    <img src="/profilepictures/default-profile-picture.jpg" alt="">


                </div>


                <div class="message-info">


                    <p class="message-name">

                        Emalee Kalmar
                    </p>

                    <p class="message-project">
                        Subject:Nature walk
                    </p>


                </div>


                <div class="message-sub-info">

                    <p>August 10</p>
                    <p>10:24 am</p>

                </div>


            </div>

            <div class="message-container">

                <div class="main-message">

                    <div class="message-content">


                        <p>
                            Paragraph 1
                            Anyone can enjoy summer vacations the w
                            ay they like but according to me the best w
                            ay to enjoy summer vacation is to learn or re
                            ad something. Also, learning and reading not on
                            ly help you in your school and college life but
                            also proved very useful in the future. But everyo
                            ne has their opinion about enjoying the summer va
                            cation. On one hand, there are people who like to
                            go outdoor and on the other, there are people who
                            like to spend their entire time indoors.

                            Summer vacation is a quality time of the year for
                            children. So, they should try to utilize that time
                            not only in playing games but also doing some activi
                            ties that will make them more active. Also, at this t
                            ime they can do anything they want to do. They can enjoy
                            this quality time with their parents, friends, and neighbors.
                        </p>


                        <p>
                            Paragraph 2
                            Anyone can enjoy summer vacations the w
                            ay they like but according to me the best w
                            ay to enjoy summer vacation is to learn or re
                            ad something. Also, learning and reading not on
                            ly help you in your school and college life but
                            also proved very useful in the future. But everyo
                            ne has their opinion about enjoying the summer va
                            cation. On one hand, there are people who like to
                            go outdoor and on the other, there are people who
                            like to spend their entire time indoors.

                            Summer vacation is a quality time of the year for
                            children. So, they should try to utilize that time
                            not only in playing games but also doing some activi
                            ties that will make them more active. Also, at this t
                            ime they can do anything they want to do. They can enjoy
                            this quality time with their parents, friends, and neighbors.
                        </p>

                        <p>
                            Paragraph 3

                            Anyone can enjoy summer vacations the w
                            ay they like but according to me the best w
                            ay to enjoy summer vacation is to learn or re
                            ad something. Also, learning and reading not on
                            ly help you in your school and college life but
                            also proved very useful in the future. But everyo
                            ne has their opinion about enjoying the summer va
                            cation. On one hand, there are people who like to
                            go outdoor and on the other, there are people who
                            like to spend their entire time indoors.

                            Summer vacation is a quality time of the year for
                            children. So, they should try to utilize that time
                            not only in playing games but also doing some activi
                            ties that will make them more active. Also, at this t
                            ime they can do anything they want to do. They can enjoy
                            this quality time with their parents, friends, and neighbors.
                        </p>

                        <p>
                            Paragraph 4

                            Anyone can enjoy summer vacations the w
                            ay they like but according to me the best w
                            ay to enjoy summer vacation is to learn or re
                            ad something. Also, learning and reading not on
                            ly help you in your school and college life but
                            also proved very useful in the future. But everyo
                            ne has their opinion about enjoying the summer va
                            cation. On one hand, there are people who like to
                            go outdoor and on the other, there are people who
                            like to spend their entire time indoors.

                            Summer vacation is a quality time of the year for
                            children. So, they should try to utilize that time
                            not only in playing games but also doing some activi
                            ties that will make them more active. Also, at this t
                            ime they can do anything they want to do. They can enjoy
                            this quality time with their parents, friends, and neighbors.
                        </p>

                        <p>
                            Paragraph 5

                            Anyone can enjoy summer vacations the w
                            ay they like but according to me the best w
                            ay to enjoy summer vacation is to learn or re
                            ad something. Also, learning and reading not on
                            ly help you in your school and college life but
                            also proved very useful in the future. But everyo
                            ne has their opinion about enjoying the summer va
                            cation. On one hand, there are people who like to
                            go outdoor and on the other, there are people who
                            like to spend their entire time indoors.

                            Summer vacation is a quality time of the year for
                            children. So, they should try to utilize that time
                            not only in playing games but also doing some activi
                            ties that will make them more active. Also, at this t
                            ime they can do anything they want to do. They can enjoy
                            this quality time with their parents, friends, and neighbors.
                        </p>

                        <p>
                            Paragraph 6
                            Anyone can enjoy summer vacations the w
                            ay they like but according to me the best w
                            ay to enjoy summer vacation is to learn or re
                            ad something. Also, learning and reading not on
                            ly help you in your school and college life but
                            also proved very useful in the future. But everyo
                            ne has their opinion about enjoying the summer va
                            cation. On one hand, there are people who like to
                            go outdoor and on the other, there are people who
                            like to spend their entire time indoors.

                            ly help you in your school and college life but
                            also proved very useful in the future. But everyo
                            ne has their opinion about enjoying the summer va
                            cation. On one hand, there are people who like to
                            go outdoor and on the other, there are people who
                            like to spend their entire time indoors.

                            Summer vacation is a quality time of the year for
                            children. So, they should try to utilize that time
                            not only in playing games but also doing some activi
                            ties that will make them more active. Also, at this t
                            ime they can do anything they want to do. They can enjoy
                            this quality time with their parents, friends, and neighbors.

                            Summer vacation is a quality time of the year for
                            children. So, they should try to utilize that time
                            not only in playing games but also doing some activi
                            ties that will make them more active. Also, at this t
                            ime they can do anything they want to do. They can enjoy
                            this quality time with their parents, friends, and neighbors.
                        </p>
                    </div>

                </div>

            </div>

            @*<div class="change-tool">

            <div class="tool-container">

            <a href="#" class="reply">
            <i class="fas fa-reply"></i>
            Reply
            </a>

            <a href="#" class="forward">
            <i class="fas fa-share"></i>
            Forward
            </a>

            </div>
            </div>*@

        </div>

        <div class="aside">


            <h4 class="compose">
                <i class="fa-thin fa-pen-field fa-2xl"></i>
                <span>Compose</span>
            </h4>


            <ul class="list">

                <li>
                    <a href="#">
                        <i class="fa-duotone fa-envelope-open-text fa-2xl"></i>
                        Inbox
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="fa-thin fa-message-heart fa-2xl"></i>
                        Important
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-thin fa-bell-on fa-2xl"></i>
                        Notification
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-thin fa-trash-clock fa-2xl"></i>
                        Trash
                    </a>
                </li>

                <li>
                   
                    <a href="#">
                        <i class="fa-thin fa-envelope-circle-check fa-2xl"></i>
                        Sent
                    </a>

                </li>
            </ul>

            <div class="chat">

                <div class="input-container">
                    <button class="attach">
                        <i class="fa fa-paperclip"></i>
                    </button>
                    <button class="send">
                        <i class="fa-duotone fa-ufo fa-spin-pulse fa-lg"></i>
                    </button>

              

                    <div class="textarea-container">
                        <textarea type="text" placeholder="message"></textarea>
                    </div>
                   
                </div>
              
            </div>


        </div>

    </div>


</body>

</html>