@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/stylesSheet.css">


    <link rel="stylesheet" type="text/css" href="~/css/police-lights.css">

    <!-- Include your external JavaScript file -->
    <script src="/js/police-lights.js"></script>
    <script src="js/script.js"></script>

</head>


<body>




    <!-- Include the police lights animation here -->
    <div>
        <!-- Include the _PoliceLights.cshtml partial view asynchronously -->
        @await Html.PartialAsync("_PoliceLights")
    
    </div>


    <div id="communication-container" class="text-center">

        <h1>

            Welcome to AtomMatrix

        </h1>

    </div>

    <div class="row">

        <!-- Communication button as a link -->
        <div class="col-md-2 col-sm-4 col-xs-6 ml-auto text-center communication-container">


            <!-- Adjust the column sizes as needed -->


            <a href="@Url.Action("Chat", "Chat")" class="communication-icon" id="communication">

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="communicate-icon">


                        <i 

                        id="chat-icon" 
                        class="fa-thin fa-message-dots"
                        title="Chats">

                        </i>


                        <i 

                        class="fa-duotone fa-envelope-open-text" 
                        title="Email">

                        </i>


                    </div>

                    <div class="cough-icon">
                        <i class="fa-thin fa-head-side-cough fa-flip-horizontal"></i>
                    </div>
                    <span>Communicate</span>
                }
            </a>
        </div>

    </div>
</body>


</html>
