@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/stylesSheet.css">
    <script src="js/script.js"></script>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
</body>
</html>
