<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nathan's Police Light Bar</title>
	<link rel="stylesheet" type="text/css" href="~/css/police_lights.css"> <!-- Add this line to link the CSS file -->
</head>
<body>
	<h1>Nathan's Police Light Bar</h1>
	<!-- Rest of your HTML content -->
	<script src="/js/police-lights.js"></script>

</body>
</html>


